@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");

.productcontainer {
  width: 50%;
  padding: 1rem;
  border: double 4px;
  margin: auto;
}

.homepage {
  font-family: "Righteous", cursive;
  width: 80%;
  margin: auto;
  border: gray double 0.5px;
  padding: 1rem;
  box-shadow: grey -2px -20px 20px 14px;
  text-align: center;
}
.roomcards {
  display: inline-block;
  width: 20%;
  min-height: 200px;
  border: solid black 0.5px;
  margin: 5rem;
  text-align: center;
  background-color: white;
  border-radius: 2rem;
  font-size: 2.5rem;
  color: rgb(83, 60, 24);
}

.productListing {
  font-family: "Righteous", cursive;
  border: solid;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
}

.thedocumentpage {
  font-family: "Righteous", cursive;
  width: 60%;
  margin: auto;
  padding: 1rem;
  box-shadow: 2px 7px 20px grey;
  text-align: center;
  margin-top: 1rem;
  min-height: 95vh;
}

.docwarrantyimage {
  border: gray double;
  padding: 2rem;
  border-radius: 2rem;
}

.documentdetails {
  text-align: initial;
  margin-bottom: 2rem;
  background-color: cadetblue;
  padding: 1rem;
}
