@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");

.bg-primary {
  background-color: rgb(0, 199, 280);
  color: aliceblue;
}

img {
  max-width: 100%;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
  width: 80%;
}
.loginsignupinnav {
  color: black;
  position: relative;
}

.loginsignupinnav > a {
  color: white;
  margin-left: 2rem;
}
nav.navbar.navbar-expand.navbar-light.bg-primary {
  height: 4rem;
}

.productcontainer {
  width: 50%;
  padding: 1rem;
  border: double 4px;
  margin: auto;
}

.homepage {
  font-family: "Righteous", cursive;
  width: 80%;
  margin: auto;
  border: gray double 0.5px;
  padding: 1rem;
  box-shadow: grey -2px -20px 20px 14px;
  text-align: center;
}

.theroomslist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
}

p.card-text {
  color: orange;
}

.roomcards {
  display: inline-block;
  width: 20%;
  min-height: 200px;
  border: solid black 0.5px;
  margin: 1rem;
  text-align: center;
  background-color: white;
  border-radius: 2rem;
  font-size: 2.5rem;
  color: rgb(228, 185, 59);
  box-shadow: grey -4px 3px 14px 3px;
}

.productListing {
  font-family: "Righteous", cursive;
  border: solid;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
  color: #ffc107;
}

.thedocumentpage {
  font-family: "Righteous", cursive;
  width: 60%;
  margin: auto;
  padding: 1rem;
  box-shadow: 2px 7px 20px grey;
  text-align: center;
  margin-top: 1rem;
  min-height: 95vh;
}

.docwarrantyimage {
  border: gray double;
  padding: 2rem;
  border-radius: 2rem;
}

.documentdetails {
  text-align: initial;
  margin-bottom: 2rem;
  background-color: #ffc107;
  padding: 1rem;
}

.h2,
h2 {
  font-size: 2rem;
  text-align: center;
}

form {
  width: 50%;
  margin: auto;
  min-height: 100vh;
  padding: 1rem;
}

button.btn.btn-primary {
  margin-top: 1rem;
  background-color: #ffc107;
}

.roomform {
  height: 6rem;
}

.loginhomeredirect {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .productcontainer {
    width: 100%;
    padding: 1rem;
    border: double 1px;
  }
  .homepage {
    width: 100%;
    margin: auto;
    padding: 1rem;
    box-shadow: grey -2px -20px 20px 14px;
    text-align: center;
  }
  form {
    width: 90%;
    min-height: 100vh;
    padding: 1rem;
  }
  .thedocumentpage {
    width: 100%;
    padding: 1rem;
    box-shadow: 2px 7px 20px grey;
    text-align: center;
    margin-top: 1rem;
    min-height: 95vh;
  }
  .roomcards {
    display: inline-block;
    width: 80%;
  }
}
